.homeText button,
.homeText button:link,
.homeText button:visited {
  border: none;
  background-color: var(--secondary-color);
  padding: 0.5rem;
  color: white;
  font-weight: 900;
  font-size: 0.8rem;
  border-radius: 50px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  width: 7rem;
}

.homeText button:hover {
  background-color: var(--buttonhover-color);
}

.homeText button:active {
  transform: translateY(3px);
}
