/*home page's button */
.homeText button,
.homeText button:link,
.homeText button:visited,
.btn {
  border: none;
  background-color: var(--secondary-color);
  padding: 0.5rem;
  color: white;
  font-weight: 900;
  font-size: 0.8rem;
  border-radius: 50px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  width: 7rem;
  outline: none;
}

.homeText button:hover,
.btn:hover {
  background-color: var(--buttonhover-color);
  color: var(--footerText);
}

.homeText button:active,
.btn:active {
  transform: translateY(3px);
}

/*page's title*/
.pageTitle {
  text-align: center;
  padding-top: 5rem;
}

.pageTitle h3 {
  color: var(--titleText-secondary);
  font-weight: 600;
  font-size: 1.5rem;
}

.pageTitle h2 {
  color: var(--titleText-primary);
  font-weight: 900;
  font-size: 1.5rem;
}
