.shoppingButton {
  position: relative;
}
.chart-icon {
  position: absolute;
  top: -1.4rem;
  right: -1rem;
  min-width: 1rem;
  height: 1.2rem;
  width: 1.2rem;
  line-height: 1.1rem;
  margin-top: 0;
  color: white;
  text-align: center;
  background: #e23442;
  border: 1px solid #911f28;
  border-radius: 10px;
  opacity: 0;
}

.remove-hidden {
  opacity: 1;
}

/*order overlay page*/

.chart-container {
  background-color: burlywood;
  margin: 0 auto;
  margin-top: -3rem;
  text-align: text-center;
  width: 50%;
  z-index: 15;
  height: 70vh;
  width: 60vw;
  padding: 4rem 4rem;
  overflow: scroll;
}

.chart-header {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 1rem;
  border-bottom: 4px solid lightgray;
}

.chart-dish {
  width: 45%;
  padding-left: 4rem;
}

.chart-price {
  width: 15%;
  padding-left: 0.5rem;

  display: flex;
  align-items: center;
}

.chart-quantity {
  width: 30%;

  display: flex;
  align-items: center;
}

.chart-total {
  width: 10%;

  display: flex;
  align-items: center;
}

.bookDishes {
  font-size: 1rem;

  align-items: center;
  padding: 1rem 0;
}

.myItems {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 4rem;
}

.myItems img {
  height: 2.5rem;
  width: 2.5rem;
}

.myItem_title {
  width: 45%;
}

.myItem_price {
  width: 10%;
}

.myItem_quantity {
  width: 30%;
  padding-left: 3rem;
}

.myItem_total {
  width: 10%;
  padding-left: 5.2rem;
}

.chartIcon1 {
  color: #e23442;
}

.basketContainer {
  display: flex;
  justify-content: flex-end;
  border-bottom: 4px solid lightgrey;
  padding-bottom: 1rem;
}

.basketTitle {
  margin-right: 2rem;
}

.basketTotal {
  margin-right: 2.4rem;
}

.fa-angle-left,
.fa-angle-right {
  color: var(--primary-color);
}
