:root {
  --primary-color: #06aa6f;
  --secondary-color: #1b0a82;
  --background-color-light: #fff;
  --background-color-medium: #f4f4f4;
  --background-color-dark: #e7e3e3;
  --buttonhover-color: #3c25cc;

  --text-primary: #000000;
  --text-secondary: #908989;
  --titleText-primary: #1b0a82;
  --titleText-secondary: #06aa6f;
  --footerText: #fff;
  --overlayText: #f4f4f4;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%; /* 1rem=10px*/
  background-color: var(--background-color-light);
}

.navBar {
  background-color: var(--background-color-medium);
  border-bottom: 2px solid var(--primary-color);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.35);
}

.h1 {
  color: var(--secondary-color);
  font-weight: 900;
}

.iconLogo {
  font-size: 1.4rem;
  color: var(--primary-color);
}

.menuLogo {
  font-size: 1.6rem;
  color: var(--primary-color);
}

.findButton,
.locationButton,
.shoppingButton,
.nemuButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.functionButtons {
  display: flex;
  justify-content: space-evenly;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none;
}

.closeButton,
.locationCloseButton,
.menuCloseButton {
  position: absolute;
  top: -3rem;
  left: 90%;
  border: 0;
  background-color: transparent;
  color: var(--overlayText);
  font-size: 3rem;
  z-index: 15;
}

.chartCloseButton {
  position: absolute;
  top: 0;
  left: 90%;
  border: 0;
  background-color: transparent;
  color: var(--overlayText);
  font-size: 3rem;
  z-index: 15;
}

.homeText {
  margin-left: 4rem;
  margin-top: 3rem;
}

.homeText p {
  width: 80%;
  color: var(--text-secondary);
  font-size: 0.7rem;
}

.homeText h2 {
  color: var(--secondary-color);
  font-size: 2.2rem;
  font-weight: 600;
}

.homeText h3 {
  color: var(--primary-color);
  font-size: 1.7rem;
}

.item-1 img,
.item-2 img,
.item-3 img {
  height: 70%;
  width: 70%;
  margin-left: 2.8rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.menuCard {
  background-color: var(--background-color-medium) !important;
}

.aboutUs img {
  height: 80%;
  width: 80%;
  padding-left: 9rem;
}
.aboutUs h3 {
  color: var(--titleText-secondary);
}
.aboutUs p {
  color: var(--text-secondary);
}

.ourSpecial {
  background-color: var(--background-color-medium);
}

/*footer*/

.footer_icon {
  font-size: 1.5rem;
}

.footerText {
  background-color: var(--primary-color);

  color: var(--footerText);
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    display: flex;
  }
  .carousel-inner {
    margin-top: 0rem;
  }

  .item-1 img,
  .item-2 img,
  .item-3 img {
    height: 40%;
    width: 40%;
    margin-bottom: 5rem;
    margin-right: 4rem;
  }

  .aboutUsText_p {
    width: 75%;
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .homeText {
    margin-left: 9rem;
  }

  .findButton,
  .locationButton,
  .shoppingButton {
    margin-right: 2rem;
  }

  .btn_learnmore {
    width: 9rem !important;
    padding: 0.7rem;
    font-size: 1rem;
  }

  .iconLogo {
    font-size: 1.8rem;
  }

  .homeText p {
    width: 100%;
    color: var(--text-secondary);
    font-size: 0.9rem;
  }

  .homeText h2 {
    color: var(--secondary-color);
    font-size: 2.3rem;
    font-weight: 600;
  }

  .homeText h3 {
    color: var(--primary-color);
    font-size: 1.8rem;
  }

  .homeText button {
    border: none;
    background-color: var(--secondary-color);
    padding: 0.8rem !important;
    color: white;
    font-weight: 900;
    font-size: 1rem !important;
    width: 9rem !important;
  }

  .h1 {
    margin-left: 3rem !important;
  }

  .navbarMenu {
    margin-right: 10rem !important;
  }

  .navItem a {
    color: var(--text-primary) !important;
    font-size: 1.2rem !important;
    color: var(--primary-color) !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
  }

  .navItem a:hover {
    color: var(--background-color-dark) !important;
  }

  .footerText {
    font-size: 1rem !important;
  }
}
